<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="connectionstring" connectionString="data source=.;initial catalog=Northwind;integrated security=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
