<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings/>
	<connectionStrings>
		<add name="connectionstring" connectionString="data source=.;initial catalog=Northwind;integrated security=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Forms">
			<forms loginUrl="login.aspx"></forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<membership defaultProvider="mp">
			<providers>
				<add name="mp" connectionStringName="connectionstring" type="System.Web.Security.SqlMembershipProvider"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="rp">
			<providers>
				<add name="rp" connectionStringName="connectionstring" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<profile defaultProvider="pp">
			<providers>
				<add name="pp" connectionStringName="connectionstring" type="System.Web.Profile.SqlProfileProvider"/>
			</providers>
			<properties>
				<add name="FullName"/>
				<add name="DOB" type="System.DateTime"/>
				<group name="Address">
					<add name="Street"/>
					<add name="State"/>
					<add name="Country"/>
					<add name="PostalCode"/>
				</group>
			</properties>
		</profile>
	</system.web>
</configuration>
