<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true"/>
		<customErrors mode="On" defaultRedirect="GlobalErrorPage.aspx">
			<error statusCode="403" redirect="~/UnAuthorized.aspx"/>
			<error statusCode="404" redirect="~/FileNotFound.aspx"/>
		</customErrors>
	</system.web>
</configuration>
