<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication52.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WindowsApplication52.Properties.Settings>
            <setting name="WindowsApplication52_localhost_Service" serializeAs="String">
                <value>http://localhost:2273/Service/Service.asmx</value>
            </setting>
        </WindowsApplication52.Properties.Settings>
    </applicationSettings>
</configuration>